    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/GettingStarted/Questionaire' | relative_url }}">Getting Started</a></li>
    <li><a href="{{ '/CompanySetups/Company' | relative_url }}">Company-Wide Configurations</a></li>
    <li><a href="{{ '/Finance/Finance' | relative_url }}">Finance</a></li>    
    <li><a href="{{ '/Debtors/Debtors' | relative_url }}">Debtors</a></li>    
    <li><a href="{{ '/Creditors/Creditors' | relative_url }}">Creditors</a></li>    
    <li><a href="{{ '/Stock/Stock' | relative_url }}">Stock</a></li>                
    <li><a href="{{ '/FixedAssets/FixedAssets' | relative_url }}">Fixed Assets</a></li>                
    <li><a href="{{ '/OpeningBalances/TakeOn' | relative_url }}">Take on opening balances</a></li>                
    <li><a href="{{ '/Resources/WhatsNew' | relative_url }}">Release Notes</a></li>
    <li><a href="{{ '/FeatureRequest' | relative_url }}">Feature Request</a></li>
